<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd 
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd"
	>
	<description>The application context for dao</description>
	<bean id="basicDao" class="com.demo2.support.dao.impl.BasicDaoJdbcImpl"></bean>
	<bean id="redisCache" class="com.demo2.support.cache.RedisCache"></bean>
	<bean id="repository" class="com.demo2.support.repository.Repository">
		<property name="dao" ref="basicDao"></property>
	</bean>
	<bean id="basicDaoWithCache" class="com.demo2.support.cache.CacheEntityDao">
		<property name="dao" ref="basicDao"></property>
		<property name="cache" ref="redisCache"></property>
	</bean>
	<bean id="repositoryWithCache" class="com.demo2.support.cache.CacheEntityDao">
		<property name="dao" ref="repository"></property>
		<property name="cache" ref="redisCache"></property>
	</bean>
</beans>